.roboticsSystem_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.joystick_component_centered {
  position: relative;
  top: 90px;
  left: 0;
}

.content_controllerInterface_height {
  min-height: 220px;
}

.tab_height {
  min-height: 350px;
}

.text-center {
  text-align: center;
}

.custom {
  width: 220px !important;
}

.title_backgound {
  background-color: #f0f0f0;
  height: 20px;
}

.title_backgound_monitoring {
  background-color: #f0f0f0;
  height: 70px;
}

.monitoring_title {
  vertical-align: middle;
  display: inline-block;
}
